
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


/* overlay-nav */
.overlay-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 0;
  overflow-y: hidden;
  background-color: rgba(0,0,0, 0.9);
  transition: 0.75s;
}

.overlay-nav__content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.overlay-nav__content a {
  padding: 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #eee;
  display: block;
  transition: 0.3s;
}

.overlay-nav__content a:hover, 
.overlay-nav__content a:focus {
  color: #aaa;
}

.overlay-nav__open,
.overlay-nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  font-size: 2rem;
}

.overlay-nav__open {
  color: #000;
}

.overlay-nav__close {
  color: #eee;
}
/* overlay-nav */


/* header */
.page-header {
  width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: left;
  background-color: #eee;
}

.page-header__logo img {
  max-width: 55%;
}

.page-header__logo img:hover {
  opacity: .7;
}
/* header */


/* home */
.page-main {
  width: 100%;
  margin: 0 auto;
}

.banner-picture img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 4rem auto;
}

.gallery-section__article {
  position: relative;
  margin: 1rem;
}

.gallery-section__article-img {
  max-width: 100%; 
  display: block;
  object-fit: cover;
}

.gallery-section__article-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transition: .75s;
  background-color: #000;
}

.gallery-section__article:hover .gallery-section__article-overlay {
  opacity: 0.75;
}

.gallery-section__article-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #eee;
  font-size: 1.5rem;
  border: 2px solid #eee;
  padding: 1rem;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 4rem auto;
}

.info-section__article {
  width: 75%;
  margin: 1rem;
}

.info-section__article a { 
  text-decoration: none; 
  color: #000;
}
/* home */


/* single gallery */
.gallery-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 4rem auto;
}

.gallery-main__column {
  width: 75%;
  padding: 0 0.5rem;
}

.gallery-main__img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.gallery-main__img:hover {
  opacity: 0.7;
}

.gallery-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.gallery-modal__img {
  margin: 4rem auto;
  display: block;
  object-fit: cover;
  max-width: 85%;
  max-height: 85%;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.75s;
  animation-name: zoom;
  animation-duration: 0.75s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.gallery-modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  color: #eee;
  font-size: 2rem;
  transition: 0.3s;
}
/* single gallery */


/* about services and contact */
.about-section,
.services-section,
.contact-section {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}

.about-section__title,
.services-section__title,
.contact-section__title {
  margin: 2rem 0;
  font-size: 2rem;
}

.about-section__div,
.services-section__div,
.contact-section__div {
  margin: 2rem auto;
  border: 1px solid #eee;
}

.about-section__content,
.services-section__content,
.contact-section__content {
  text-align: left;
}

.contact-section a {
  text-decoration: none;
  color: #000;
}

.contact-section a:hover {
  opacity: .7;
}
/* about services and contact */


/* footer */
.page-footer {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #eee;
  background: #000;
}

.page-footer a {
  text-decoration: none;
  color: #eee;
}

.page-footer a:hover {
  color: #aaa;
}

.page-footer__div {
  width: 20%;
  margin: 2rem auto;
  border: 1px solid #222;
}

.page-footer__social {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.page-footer__social a {
  padding: 0 7px;
}
/* footer */


@media screen and (min-width: 992px) {

  /* overlay-nav */
  .overlay-nav__open,
  .overlay-nav__close {
    font-size: 2.5rem;
  }
  /* overlay-nav */


  /* header */
  .page-header {
    text-align: center;
  }

  .page-header__logo img {
    max-width: 30%;
  }
  /* header */


  /* home */
  .gallery-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-section__article {
    width: 30%;
    margin: 1rem;
  }

  .info-section {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .info-section__article {
    width: 30%;
    margin: 0 auto;
  }
  /* home */


  /* individual gallery */
  .gallery-main {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .gallery-main__column {
    width: 25%;
  }
  /* individual gallery */


  /* single gallery */
  .gallery-modal__close {
    font-size: 2.5rem;
  }
  /* single gallery */

}
